.wrap{
    width: 1280px;
    margin: 0 auto;
}

header{
    display: flex;
    height: 100px;
}
.logo{
    width: 200px;
    background-color: #EAE9EE;
}
.nav{
    width: 1080px;
    background-color: #C2C3D6;
}

main{
    display: flex;
}

.main_top{
    display: flex;
    height: 440px;
}
.tl{
    width: 250px;
    height: 100%;
    background-image: url(img/layout2_3.png);
    background-size: cover;
    background-position: center;
}
.tr1{
    width: 730px;
    height: 50%;
    background-image: url(img/layout2_2.png);
    background-size: cover;
    background-position: center;
}
.tr2{
    width: 730px;
    height: 50%;
    background-image: url(img/layout2_5.png);
    background-size: cover;
    background-position: center;
}

.main_bot{
    width: 980px;
    height: 440px;
    background-image: url(img/layout2_4.png);
    background-size: cover;
    background-position: center;
}

.main_right{
    width: 300px;
    height: 880px;
    background-image: url(img/layout2_1.png);
    background-size: cover;
    background-position: center;
}

footer{
    display: flex;
    height: 100px;
}
.fl{
    width: 200px;
    background-color: #3A258A;
}
.fm{
    width: 880px;
    background-color: #6469CD;
}
.fr{
    width: 200px;
    background-color: #3A258A;
}

@media (max-width: 680px)
{
    .wrap{
        width: 100%;
    }

    .logo{
        width: 197px;
        height: 100px;
    }
    .nav{
        width: 483px;
        height: 100px;
    }

    main{
        flex-direction: column;
    }

    .main_top{
        flex-direction: column;
        order: 2;
    }

    .main_bot{
        order: 1;
        width: 100%;
        height: 440px;
    }

    .main_left{
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    
    .tr{
        display: flex;
        flex-direction: column;
    }

    .tr1{
        width: 100%;
        height: 220px;
        order: 2;
    }
    .tr2{
        width: 100%;
        height: 220px;
        order: 1;
    }

    .tl{
        display: none;
    }
    .main_right{
        display: none;
    }

    .fl{
        width: 106px;
        height: 100px;
    }
    .fm{
        width: 468px;
        height: 100px;
    }
    .fr{
        width: 106px;
        height: 100px;
    }
}

@media (max-width: 450px)
{
    .wrap{
        width: 100%;
    }

    .logo{
        width: 100px;
        height: 100px;
        order: 2;
    }
    .nav{
        width: 350px;
        height: 100px;
        order: 1;
    }
    
    main{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .main_left{
        display: contents;
    }
    .main_top{
        display: contents;
    }
    .tr{
        display: contents;
    }

    .tl{
        display: block;
        width: 50%;
        height: 440px;
        order: 1;
    }

    .tr2{
        width: 50%;
        height: 440px;
        order: 2;
    }

    .tr1{
        width: 100%;
        height: 220px;
        order: 3;
    }

    .main_bot{
        width: 50%;
        height: 220px;
        order: 4;
    }

    .main_right{
        display: block;
        width: 50%;
        height: 220px;
        order: 5;
    }

    .fl, .fr{
        display: none;
    }

    .fm{
        width: 100%;
        height: 100px;
    }
}